language: csharp
solution: FoundationDB.Client.sln

services:
  - docker

before_script:
  - docker pull foundationdb/foundationdb:6.2.10

mono: none
dotnet: 3.0
script:
  #- for i in */*.csproj; do sed 's/netstandard2..*/netstandard2.0;netstandard2.1<\/TargetFramework>/g' $i; done
  - dotnet restore
  - dotnet pack
  - dotnet pack FoundationDB.Client/FoundationDB.Client.csproj -c Release --output nupkgs
  - dotnet nuget push nupkgs/*.nupkg -s $NUGET_URL -k $TOKEN
